
<app-divider>
    Placeholder component
    <button>Test</button>
</app-divider>
<app-placeholder [header]="true" [lines]="10"></app-placeholder>
<app-divider>
   Segment Component
</app-divider>
<app-segment>
    <header iconHeader>
        <i class="pdf file outline icon"></i>
        No documents are listed for this customer.
    </header>
     <div class="ui primary button">Add Document</div>
</app-segment>
<app-segment>
    <header iconHeader>
        <i class="add icon"></i>
        Add doc
    </header>
     <div class="ui primary button">Add Document</div>
</app-segment>
